# Build directories
build/
out/
obs-plugin-countdown/

# IDE files
.vs/
.vscode/
*.user
*.suo
*.db
*.opendb

# Compiled files
*.obj
*.exe
*.dll
*.lib
*.exp
*.pdb

# CMake files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt

# Large dependency files
.deps/windows-deps-2023-04-12-x64.zip 